<center><h1>延平online judge帳號申請系統</h1>

    <form action="./" method="POST">
        學　　號：
        <input type="text" name="sid" id="username"><br>
        身分證號：
        <input type="password" name="cid"" id="password"><br>
        生　　日：
        <input type="password" name="bir"" id="password"><br>
        生日範例：1984/10/6、1985/3/15、1986/11/28
<br>        <button>登入</button>
    </form>
<br>
申請步驟:<br>
now: 1.通過學校系統的考驗,證明你是延平人<br>
2.創建你的Online judge密碼<br>
3.登入judge,把judge刷爆<br>
<br>
忘記密碼或其他疑難雜症請找網館,有專人會為你處理
</center>
